@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    color: rgb(10, 10, 10);
}

/* Headings and logo*/
h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-transform: none;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 50px;
    color: black;
}

/* Navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: black;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px
}