@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    color: rgb(10, 10, 10);
}

/* Headings and logo*/
h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-transform: none;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 50px;
    color: black;
    text-align: justify;
    position: relative; 
    left: 10px;
    
}

/* Navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: black;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 3px solid #0a0a0a;
}

.active {
    border-bottom: 3px solid #0a0a0a;
}

/* chef picture homepage*/

#chefs {
    height: 600px;
    width: 100%;
    background: url("../css/images/chefs.webp")no-repeat center center;
    position: relative; 
    top: -125px;
    left: 2px;

    /* animated zoom loading page*/
    animation-name: kitchen-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


 }   

 #kitchen {
    height: 600px;
    width: 100%;
    overflow: hidden;
 }

 /* animated zoom loading page*/
     Animation

 /* create zoom in effect on homepage picture*/
 @keyframes kitchen-zoom {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
}

/* creating the information section*/

#info {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: #ffff00;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: blue;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: red;
}

