@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    color: rgb(10, 10, 10);
}

/* Headings and logo*/
h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-transform: none;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 50px;
    color: black;
    text-align: justify;
    position: relative; 
    left: 10px;
    
}

/* Navigation links*/

#menu {
    height: 50px;
    font-size: 110%;
    letter-spacing: 4px;
    color: black;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 3px solid #0a0a0a;
}

.active {
    border-bottom: 3px solid #0a0a0a;
}

/* chef picture homepage*/

#chefs {
    height: 500px;
    width: 100%;
    background: url('../css/images/chefs.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1.1);
    }
}
/* creating the information section*/


#homepage-info {
    height: 630px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: justify;
    position: relative; 
    left: 10px;
    background-color: #7c7a7a;
    margin: 0 auto;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.headline-info {
    float: left;
    position: relative; 
    left: 50px;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}