@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    color: rgb(10, 10, 10);
}

/* Headings and logo*/
h1,h2, {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-transform: none;
    letter-spacing: 4px;
}
    



p {
    font-family: Arial, Helvetica, sans-serif;

}
    

#logo {
    float: left;
    font-size: 40px;
    margin-left: 30px;
    color: black;
    
}

/* Navigation links*/

#menu {
    height: 50px;
    font-size: 120%;
    letter-spacing: 4px;
    color: black;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 3px solid #0a0a0a;
}

.active {
    border-bottom: 3px solid #0a0a0a;
}

/* chef picture homepage*/

#chefs {
    height: 500px;
    width: 100%;
    background: url('../css/images/chefs.we') no-repeat center center;
    margin-top: 10%;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

/* creating the information section*/

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}


#center-about {
    width: 33%;
    margin: 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}


#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(12, 12, 12);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('..') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* For medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    

    
/* Meny list at meny page*/

#menu-page {
    height: 600px;

}

